body {
    background-color: rgb(185, 181, 181);
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1));
}

h1 {
    background-color: rgba(0, 0, 0, 0.459);
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    color: red;
    width: 40%;
    text-shadow: 5px 3px 2px grey;
    letter-spacing: 5px;

}

button {
    background-color: black;
    color: red;
    cursor: pointer;
    font-size: 25px;
    border-radius: 16px;
    padding: 10px;
    margin: 10px 0 25px 10px;
    box-shadow: 0 8px 16px 0 rgba(248, 3, 3, 0.692), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

button:hover{
    background-color: rgba(92, 88, 88, 0.562);
    color: rgb(71, 69, 69);
}

p {
    margin-left: 10px;
}

#new-emotion {
    margin: 50px 125px 0 0;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    float: right;

    border-radius: 12px;
    box-sizing: border-box;
    height: 250px;
    width: 20%;
    text-align: center;
}

#emo-input {
    margin-top: 10px;
    caret-color: red;
}

#select-emo {
    background-color: black;
    opacity: .7;
    color: red;
    cursor: pointer;
    border-radius: 4px;
    margin: 15px ;
    box-sizing: content-box;
}

#select-emo:hover {
    background-image: linear-gradient(to left, grey, rgba(255,0,0,1));
    opacity: .7;
    color: black;
}

#emo-form {
    margin-top: 10px;
}

img {
    cursor: pointer;
    width: 500px;
    height: 300px;
    padding: 10px;
  }

#gifsHere {
    margin-left:200px;
}

